$color-grey-lighter: #dcdee2;
$color-grey-transparent: #fbfbfb;
$color-blue-lighter: #f0f1f4;
$color-blue-light: #a7aeb7;
$color-blue-hard: #323f56;
$color-blue-harder: #323F5636;
$color-red-medium: #ff7676;
$color-white-light: #ffffff;
$color-black-hard: #070707;
